<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.hospital.persistence.HospitalMapper">
	
	<select id="hospitalInfos" resultType="com.petmily.hospital.domain.HospitalVO">
		select * from hospital_tb
	</select>
	
	<select id="hospitalDetail" resultType="com.petmily.member.domain.HospitalMemberVO" parameterType="com.petmily.member.domain.HospitalMemberVO">
		<![CDATA[
		SELECT * FROM hospital_member_tb WHERE HSPT_NAME = #{hsptName} AND regexp_like(HSPT_ADDR, '*${hsptAddr}*')
		]]>
	</select>
	
	<select id="findUserPetList" resultType="com.petmily.mypet.domain.PetVO">
		select * from pets_tb where mem_id = #{id}
	</select>
</mapper>