<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.petmily.mypet.persistence.MypetMapper"> <!-- namespace 중요 , 정해진 이름은 없음 자기가 지으면 됨 -->
	<!-- 인터페이스의 패키지명 kosta.mapper, 인터페이스명 BoardMapper -->

	<cache />
	<insert id="insertPet">
		insert into pets_tb
		values(pets_tb_seq.nextval,
		#{memId},
		#{petNm},
		#{petBirth},
		#{petSex},
		#{petSpecies},
		#{breedNo},
		null,
		#{petSt},
		#{petBasicVaccination},
		#{petNeutral},
		0,
		#{petOdrNo},
		sysdate
		)
	</insert>

	<select id="selectPetByNo" resultType="com.petmily.mypet.domain.PetVO">
		select * from pets_tb p join breed_tb b on p.breed_no = b.breed_no where pet_no = #{petNo} and mem_id = #{memId}
	</select>
	
	<insert id="insertFile">
		insert into file_tb
		values(file_no_seq.nextval,
		#{fileOriginalNm},
		#{fileStoredNm},
		sysdate
		)
	</insert>
	<insert id="insertFileNo">
		update pets_tb set 
			file_no = #{fileNo}
		where mem_id = #{memId} and pet_no = #{petNo}
	</insert>
	<select id="selectFileNO" resultType="int">
		select
		file_no from file_tb where file_stored_nm = #{fileStoredNm}
	</select>
	<select id="selectFileByNO" resultType="com.petmily.mypet.domain.PetVO">
		select * from file_tb where file_no = #{fileNo}
	</select>
	<select id="selectBreedAll" resultType="com.petmily.mypet.domain.BreedVO">
		select * from breed_tb
		order by breed_nm
	</select>

	<select id="selectBreedByCode" resultType="com.petmily.mypet.domain.BreedVO">
		select * from breed_tb where code = #{code} order by
		breed_nm
	</select>

	<select id="selectBreedByNM" resultType="com.petmily.mypet.domain.BreedVO">
		select * from breed_tb where code = #{code} and breed_nm like '%'||#{breedNm}||'%' order
		by breed_nm
	</select>

	<select id="listPetAll" resultType="com.petmily.mypet.domain.PetVO" parameterType="String">
		select
		* from pets_tb p join breed_tb b on b.breed_no = p.breed_no where
		mem_id = #{memId} order by pet_odr_no
	</select>

	<select id="selectDate" resultType="String">
		select TO_CHAR(pet_birth,'YYYY-MM-DD') from pets_tb where pet_no =
		#{petNo}
	</select>

	<update id="updatePet">
		update pets_tb set pet_nm =
		#{petNm},
		pet_birth = #{petBirth},
		pet_sex = #{petSex},
		pet_species = #{petSpecies},
		breed_no = #{breedNo},
		pet_st = #{petSt},
		pet_basic_vaccination = #{petBasicVaccination},
		pet_neutral = #{petNeutral}
		where mem_id = #{memId} and pet_no = #{petNo}
	</update>

	<update id="updatePetFile">
		update file_tb set
		file_original_nm = #{fileOriginalNm},
		file_stored_nm = #{fileStoredNm},
		file_date = sysdate
		where file_no = #{fileNo}
	</update>

	<delete id="deletePet">
		delete from pets_tb where
		pet_no = #{petNo}
	</delete>

	<select id="selectLastPetNO" resultType="int">
		SELECT  NVL(MAX(pet_odr_no),0) FROM pets_tb where mem_id =
		#{memId}
	</select>

	<update id="updatePetOdrNO">
		update pets_tb set
		pet_odr_no = #{petOdrNo} where pet_no = #{petNo}
	</update>

</mapper>















