<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.member.persistence.MemberMapper">

	<resultMap id="MemberResult" type="com.petmily.member.domain.MemberVO">
		<result column="mem_id" property="id" />
		<result column="mem_nm" property="name" />
		<result column="mem_pass" property="password" />
		<result column="mem_email" property="email" />
		<result column="mem_phone_no" property="phoneNo" />
		<result column="mem_birth" property="birth" />
		<result column="mem_nicknm" property="nicknm" />
		<result column="mem_code" property="code" />
		<result column="mem_address" property="address" />
		<result column="mem_email_check" property="emailCheck" />
		<result column="mem_sms_check" property="smsCheck" />
		<result column="enabled" property="enabled"/>
	</resultMap>

	<insert id="memberSignUp" parameterType="com.petmily.member.domain.MemberVO">
		insert into member_tb values (#{id}, #{name}, #{password}, #{email}, #{phoneNo}, #{birth}, #{nicknm}, 3001, #{address}, #{emailCheck}, #{smsCheck}, sysdate ,'1')
	</insert>

	<!-- <select id="memberLogin" resultMap="MemberResult" parameterType="com.petmily.member.domain.MemberVO">
		select * from member_tb where mem_id = #{id} and mem_pass = #{password}
	</select> -->

	<select id="memberLogin" resultMap="MemberResult" parameterType="com.petmily.member.domain.MemberVO">
		select * from member_tb where mem_id = #{id} and mem_pass = #{password}
	</select>

	<select id="hospitalMemberLogin" parameterType="com.petmily.member.domain.LoginMemberVO" resultType="com.petmily.member.domain.HospitalMemberVO">
		select * from hospital_member_tb where hspt_id = #{id} and hspt_pass = #{password}
	</select>

	<insert id="hospitalMemberSignUp" parameterType="com.petmily.member.domain.HospitalMemberVO">
		insert into hospital_member_tb values (#{hsptId}, #{hsptPass}, #{hsptName}, #{hsptAddr}, #{hsptTel}, #{hsptLicenseNum}, 'N',#{hsptFile},#{hsptFilePath})
	</insert>

	<insert id="hospitalOperationInsert" parameterType="com.petmily.hospital.domain.HospitalOperationVO">
		insert into hospital_operation_tb values (#{sunOper}, #{monOper}, #{tueOper}, #{wedOper}, #{thuOper}, #{friOper}, #{satOper}, #{hsptId})
	</insert>

	<update id="hospitalAgreementUpdate" parameterType="com.petmily.member.domain.HospitalMemberVO">
		update hospital_tb set hospt_agreement = '1' where hospt_name = #{hsptName} AND regexp_like(hospt_address, '*${hsptAddr}*')
	</update>

</mapper>
