<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.admin.persistence.AdminMapper">


	<resultMap id="MemberResult" type="com.petmily.member.domain.MemberVO">
		<result column="mem_id" property="id" />
		<result column="mem_nm" property="name" />
		<result column="mem_pass" property="password" />
		<result column="mem_email" property="email" />
		<result column="mem_phone_no" property="phoneNo" />
		<result column="mem_birth" property="birth" />
		<result column="mem_nicknm" property="nicknm" />
		<result column="mem_code" property="code" />
		<result column="mem_address" property="address" />
		<result column="mem_email_check" property="emailCheck" />
		<result column="mem_sms_check" property="smsCheck" />
		<result column="code_nm" property="codeNm" />
	</resultMap>

	<select id="reportList" resultType="com.petmily.pettalk.domain.ReportVO">
		select * from REPORT_TB ORDER BY RPT_DT DESC
	</select>
	
	<delete id="reportCommit" parameterType="int">
		delete from board_community_tb 
		where board_no = (select BOARD_NO from REPORT_TB where rpt_No = #{rptNo})
	</delete>

	<delete id="reportReject" parameterType="int">
		delete from REPORT_TB where RPT_NO = #{rptNo}
	</delete>
	
	<select id="codeList" resultType="com.petmily.common.domain.CodeVO">
		select CODE, CODE_TYPE, CODE_NM, CODE_ENG, REGIST_DATETIME, REGIST_ID,(select count(*) from code_tb c where c.code_type = t.code) as CHILD_CODE_COUNT from code_tb t where t.code_type = 0
	</select>	


	<select id="codeDetailList" parameterType="int" resultType="com.petmily.common.domain.CodeVO">
		select * from code_tb where code_type = #{codeType} ORDER BY CODE
	</select>	
	
	<insert id="codeInsert" parameterType="com.petmily.common.domain.CodeVO">
	insert into CODE_TB (CODE, CODE_TYPE, CODE_NM, CODE_ENG, REGIST_DATETIME, REGIST_ID) VALUES (#{code},#{codeType},#{codeNm},#{codeEng},sysdate,#{registId})
	
	</insert>

	<select id="adminMemberList" parameterType="com.petmily.pettalk.domain.SearchVO" resultMap="MemberResult"> 
	select a.*,b.code_nm from member_tb a JOIN code_tb b ON a.mem_code = b.code where a.mem_code = ${codeSelect} <if test="keyword != null and keyword !=''"> AND a.mem_nm LIKE '%' || #{keyword} || '%'</if>
	</select>


	<select id="adminCodeList" parameterType="com.petmily.pettalk.domain.SearchVO" resultType="com.petmily.common.domain.CodeVO">
		select * from code_Tb where code_type=300
	</select>

	<update id="memberCodeUpdate" parameterType="com.petmily.member.domain.MemberVO">
		update member_tb set mem_code = #{code} where mem_id = #{id}
	</update>
</mapper>
